<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="50"
      alt="Logo Eagle"
      src="assets/imgs/logo-eagle.png"
    />
    <span> Bem Vindo(a) userId </span>
      <div class="spacer"></div>
      <a aria-label="Painel de Usuario" rel="noopener" href="https://facebook.com/eagledigital" title="Usuario">
        <img width="28" src="assets/imgs/user.png">
      </a>
</div>

<!--
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

-->
